@import "~font-awesome/css/font-awesome.css";
@import "assets/scss/style";

.fa-search.hea {
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 12px;
  color: #dcdcdc;
}

body {
  -webkit-user-select: none !important;
}

.container {
  padding-left: 182px;
  height: 100%;
  width: 100%;
  position: absolute;
  padding-bottom: 50px;
}

.Tbutton i {
  float: left;
}

.contacts {
  position: absolute;
  left: 0;
  top: 50px;
  height: 100%;
  width: 182px;
  border-right: 1px solid #dedefd;
  box-shadow: inset -5px 0 15px #dedefd;
  background-color: #f9f9fe;
  padding-bottom: 50px;
  overflow: hidden;
  //overflow-y: scroll;
  z-index: 99999;
}

.contacts .user {
  width: 100%;
  height: 70px;
  float: left;
  border-bottom: 1px solid #dedefd;
  position: relative;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
}

.contacts .user .img {
  float: left;
  animation-duration: 10s !important;
}

.contacts .user .img .div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 15px;
  border: 0;
  background-size: 100% 100%;
  float: left;

}

.contacts .user .name {
  line-height: 70px;
  color: #999;
  float: left;
  font-size: 12px;
}

.contacts .user:after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 100%;
  bottom: 0;
  transition-duration: 0.3s;
  width: 100%;
  height: 3px;
  background-color: #5555da;
  opacity: 1;
}

.contacts .user.active:after {
  left: -100%;
  opacity: 1;
}

.contacts .user .hr {
  position: absolute;
  left: 0;
  top: 100%;
  width: 3px;
  height: 100%;
  background-color: #5555da;
  transition-duration: 0.3s;
  opacity: 1;
}

.contacts .user.active .hr {
  top: 0;
  opacity: 1;
}

.contacts .user.active {
  background-color: #fff;
  width: 182px;
  cursor: inherit;
}

.nicescroll-cursors {
  border: 0 !important;
  background-color: #c57cce !important;
  width: 2px !important;

}

.header,
header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dedefd;
  -webkit-app-region: drag;
}

.header input, .header button {
  -webkit-app-region: no-drag !important;
}

button {
  cursor: pointer;
}

.header .inputIp {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 199999;
  left: 0;
  top: 0;
  display: none;
}

.inputMain {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  background-color: #000;
  box-shadow: 0 0 10px rgb(144, 144, 144);
}

.inputMain .in {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #fff;
  /*padding: 0 7px;*/
  text-align: center;
}

.inputMain .btn {
  float: left;
  width: 50%;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "YaHei Consolas Hybrid";
}

.inputMain .btn.yes{
  background-color: #5555da;
}

.inputMain .btn:hover {
  background-color: #4e41da;
}

.inputMain .btn.no{
  background-color: #4e41da;
}

.inputIp, .inputIp * {
  transition-duration: 0.4s;
}

.header .search {
  width: 182px;
  float: left;
  border-right: 1px solid #dedefd;
  height: 49px;
  overflow: hidden;
}

.header .addIp {
  height: 49px;
  float: left;
}

.header .addIp .pull {
  display: inline-block;
  float: left;
  height: 49px;
  line-height: 49px;
  -webkit-app-region: no-drag;
  width: 50px;
  text-align: center;
  color: #6799ff;
  opacity: 0.5;
  font-size: 12px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.header .addIp .pull:hover {
  color: #ff6767;
  opacity: 1;
}

.header .input {
  -webkit-app-region: no-drag;
  width: 180px;
  height: 50px;
  float: left;
  line-height: 50px;
  font-size: 13px;
  color: #c7c7c7;
  padding-left: 38px;
}

.header .input:focus {
  color: #999;
}

.Tbutton {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px;
}

.Tbutton .btn {
  -webkit-app-region: no-drag;
  float: left;
  color: #dedefd;
  margin-left: 14px;
  display: inline-block;
  width: 13px;
  height: 11px;
  margin-top: 19.5px;
  opacity: 0.5;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Tbutton .btn:hover {
  opacity: 1;
}

.Tbutton .btn.i1 {
  background-image: url("assets/images/1.png");
}

.Tbutton .btn.i2 {
  background-image: url("assets/images/2.png");
}

.Tbutton .btn.i3 {
  background-image: url("assets/images/3.png");
}

.typing {
  width: 100%;
  position: absolute;
  bottom: 50px;
  right: 0;
  border-top: 1px solid #dedefd;
  height: 104px;
  overflow: hidden;
  z-index: 20;
}

.textarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 15px 30px;
  padding-right: 230px;
  font-family: "Helvetica Neue", "YaHei Consolas Hybrid", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.home {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 182px;
}

.expr {
  position: absolute;
  z-index: 9999;
  right: 200px;
  bottom: 64px;
  cursor: pointer;
  font-size: 24px;
}

.chatlog {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 154px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 182px;
}

.you {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.me {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.you .tx {
  float: left;
}

.me .tx {
  float: right;
}

.horn {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.you .horn {
  background-color: #e2e2e2;
  top: 35px;
  left: 75px;
}

.me .horn {
  background-color: #7c7ce1;
  top: 35px;
  right: 75px;
}

.you .mess {
  float: left;
  background-color: #e2e2e2;
}

.me .mess {
  float: right;
  background-color: #7c7ce1;
  color: #fff;
}

.mess {
  font-family: "Helvetica Neue", "YaHei Consolas Hybrid", Helvetica, Arial, sans-serif;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 50px;
  border-radius: 7px;
  max-width: 60%;
  line-height: 20px;
  word-wrap: break-word;
  font-size: 14px;
  padding-top: 15px;
}

.tx .div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
  background-size: 100% 100%;
}




.hp-0 {  background-image: url("assets/images/hp/0.png");  }
.hp-1 {  background-image: url("assets/images/hp/1.png");  }
.hp-2 {  background-image: url("assets/images/hp/2.png");  }
.hp-3 {  background-image: url("assets/images/hp/3.png");  }
.hp-4 {  background-image: url("assets/images/hp/4.png");  }
.hp-5 {  background-image: url("assets/images/hp/5.png");  }
.hp-6 {  background-image: url("assets/images/hp/6.png");  }
.hp-7 {  background-image: url("assets/images/hp/7.png");  }
.hp-8 {  background-image: url("assets/images/hp/8.png");  }
.hp-9 {  background-image: url("assets/images/hp/9.png");  }
.hp-10 {  background-image: url("assets/images/hp/10.png");  }
.hp-11 {  background-image: url("assets/images/hp/11.png");  }
.hp-12 {  background-image: url("assets/images/hp/12.png");  }
.hp-13 {  background-image: url("assets/images/hp/13.png");  }
.hp-14 {  background-image: url("assets/images/hp/14.png");  }
.hp-15 {  background-image: url("assets/images/hp/15.png");  }
.hp-16 {  background-image: url("assets/images/hp/16.png");  }
.hp-17 {  background-image: url("assets/images/hp/17.png");  }
.hp-18 {  background-image: url("assets/images/hp/18.png");  }
.hp-19 {  background-image: url("assets/images/hp/19.png");  }
.hp-20 {  background-image: url("assets/images/hp/20.png");  }
.hp-21 {  background-image: url("assets/images/hp/21.png");  }
.hp-22 {  background-image: url("assets/images/hp/22.png");  }
.hp-23 {  background-image: url("assets/images/hp/23.png");  }
.hp-24 {  background-image: url("assets/images/hp/24.png");  }
.hp-25 {  background-image: url("assets/images/hp/25.png");  }
.hp-26 {  background-image: url("assets/images/hp/26.png");  }
.hp-27 {  background-image: url("assets/images/hp/27.png");  }
.hp-28 {  background-image: url("assets/images/hp/28.png");  }
.hp-29 {  background-image: url("assets/images/hp/29.png");  }
.hp-30 {  background-image: url("assets/images/hp/30.png");  }
.hp-31 {  background-image: url("assets/images/hp/31.png");  }
.hp-32 {  background-image: url("assets/images/hp/32.png");  }
.hp-33 {  background-image: url("assets/images/hp/33.png");  }
.hp-34 {  background-image: url("assets/images/hp/34.png");  }
.hp-35 {  background-image: url("assets/images/hp/35.png");  }
.hp-36 {  background-image: url("assets/images/hp/36.png");  }
.hp-37 {  background-image: url("assets/images/hp/37.png");  }
.hp-38 {  background-image: url("assets/images/hp/38.png");  }
.hp-39 {  background-image: url("assets/images/hp/39.png");  }
.hp-40 {  background-image: url("assets/images/hp/40.png");  }
.hp-41 {  background-image: url("assets/images/hp/41.png");  }
.hp-42 {  background-image: url("assets/images/hp/42.png");  }
.hp-43 {  background-image: url("assets/images/hp/43.png");  }
.hp-44 {  background-image: url("assets/images/hp/44.png");  }
.hp-45 {  background-image: url("assets/images/hp/45.png");  }
.hp-46 {  background-image: url("assets/images/hp/46.png");  }
.hp-47 {  background-image: url("assets/images/hp/47.png");  }
.hp-48 {  background-image: url("assets/images/hp/48.png");  }

.ant-message {
  font-size: 15px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 100px;
  left: 0;
  pointer-events: none;
  font-family: "YaHei Consolas Hybrid";
}
.ant-message b{
  font-size: 25px !important;
  vertical-align: middle;
}
.ant-message-notice {
  padding: 8px;
  text-align: center;
}
.ant-message-notice:first-child {
  margin-top: -8px;
}
.ant-message-notice-content {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: inline-block;
  pointer-events: all;
}
.ant-message-success .anticon {
  color: #00a854;
}
.ant-message-error .anticon {
  color: #f04134;
}
.ant-message-warning .anticon {
  color: #ffbf00;
}
.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: #108ee9;
}
.ant-message .anticon {
  margin-right: 8px;
  font-size: 14px;
  top: 1px;
  position: relative;
}
.ant-message-notice.move-up-leave.move-up-leave-active {
  -webkit-animation-name: MessageMoveOut;
  animation-name: MessageMoveOut;
  overflow: hidden;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}
@-webkit-keyframes MessageMoveOut {
  0% {
	opacity: 1;
	max-height: 150px;
	padding: 8px;
  }
  100% {
	opacity: 0;
	max-height: 0;
	padding: 0;
  }
}
@keyframes MessageMoveOut {
  0% {
	opacity: 1;
	max-height: 150px;
	padding: 8px;
  }
  100% {
	opacity: 0;
	max-height: 0;
	padding: 0;
  }
}


